@model UAndes.ICC5103._202301.Models.Adquiriente

@{
    ViewBag.Title = "Eliminar Adquiriente";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Adquiriente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RunRut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunRut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeDerecho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeDerecho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DerechoNoAcreditado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DerechoNoAcreditado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escritura.CNE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escritura.CNE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
