@model UAndes.ICC5103._202301.Models.Adquiriente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adquiriente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RunRut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunRut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeDerecho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeDerecho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DerechoNoAcreditado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DerechoNoAcreditado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escritura.CNE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escritura.CNE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
