@model IEnumerable<UAndes.ICC5103._202301.Models.Adquiriente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RunRut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PorcentajeDerecho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DerechoNoAcreditado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Escritura.CNE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RunRut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PorcentajeDerecho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DerechoNoAcreditado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Escritura.CNE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
