@model IEnumerable<UAndes.ICC5103._202301.Models.adquiriente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.runRut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcentajeDerecho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.derechoNoAcreditado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.escritura.cne)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.runRut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeDerecho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.derechoNoAcreditado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.escritura.cne)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
