@model IEnumerable<UAndes.ICC5103._202301.Models.Multipropietario>

@{
    ViewBag.Title = "Index";

}

<h2>Multipropietarios</h2>

<p>
    @Html.ActionLink("Crear nuevo multipropietario", "Create")
</p>

<div>
    <input type="text" id="comunaInput" placeholder="Comuna">
    <input type="text" id="manzanaInput" placeholder="Manzana">
    <input type="text" id="predioInput" placeholder="Predio">
    <button type="button" id="searchButton">Buscar</button>
</div>

<table class="table" id="multipropietariosTable">
    <tr>
        <th>
            @Html.DisplayName("Comuna")
        </th>
        <th>
            @Html.DisplayName("Manzana")
        </th>
        <th>
            @Html.DisplayName("Predio")
        </th>
        <th>
            @Html.DisplayName("RUN-RUT")
        </th>
        <th>
            @Html.DisplayName("Porcentaje Derecho")
        </th>
        <th>
            @Html.DisplayName("Fojas")
        </th>
        <th>
            @Html.DisplayName("Año Inscripción")
        </th>
        <th>
            @Html.DisplayName("Numero Inscripción")
        </th>
        <th>
            @Html.DisplayName("Fecha Inscripción")
        </th>
        <th>
            @Html.DisplayName("Año Vigencia Inicial")
        </th>
        <th>
            @Html.DisplayName("Año Vigencia Final")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manzana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunRut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentajeDerecho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fojas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AñoInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AñoVigenciaInicial)
            </td>
            <td>
                @if (item.AñoVigenciaFinal != 0)
                {
                    @Html.DisplayFor(modelItem => item.AñoVigenciaFinal)
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function ()
    {
        $('#searchButton').click(function ()
        {
            var comunaValue = $('#comunaInput').val().toLowerCase();
            var manzanaValue = $('#manzanaInput').val().toLowerCase();
            var predioValue = $('#predioInput').val().toLowerCase();
            $('#multipropietariosTable tbody tr').each(function ()
            {
                var row = $(this);
                if (row.find('td:eq(0)').text().toLowerCase().indexOf(comunaValue) === -1 ||
                    row.find('td:eq(1)').text().toLowerCase().indexOf(manzanaValue) === -1 ||
                    row.find('td:eq(2)').text().toLowerCase().indexOf(predioValue) === -1) {
                    row.hide();
                } else {
                    row.show();
                }
            });
        });
    });
</script>