@model IEnumerable<UAndes.ICC5103._202301.Models.Multipropietario>

@{
    ViewBag.Title = "Index";
}

<h2>Multipropietarios</h2>
<label for="cars">Comuna</label>
<select class="form-control" name="cars" id="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>
<br>
<br>
<label for="lname">Rol</label>
<div class="row">
    <div class="column">
        <input type="text" class="form-control" id="lrol1" name="lname1">
    </div>
    <div class="column">
        <input type="text" class="form-control" id="lrol2" name="lname2">
    </div>
</div>
<br>
<br>
<label for="lname">Año</label>
<input type="number" class="form-control" id="lyear" name="lname">
<p>
    @Html.ActionLink("Crear nuevo multipropietario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Comuna")
        </th>
        <th>
            @Html.DisplayName("Manzana")
        </th>
        <th>
            @Html.DisplayName("Predio")
        </th>
        <th>
            @Html.DisplayName("RunRut")
        </th>
        <th>
            @Html.DisplayName("Porcentaje Derecho")
        </th>
        <th>
            @Html.DisplayName("Fojas")
        </th>
        <th>
            @Html.DisplayName("Año Inscripción")
        </th>
        <th>
            @Html.DisplayName("Numero Inscripción")
        </th>
        <th>
            @Html.DisplayName("Fecha Inscripción")
        </th>
        <th>
            @Html.DisplayName("Año Vigencia Inicial")
        </th>
        <th>
            @Html.DisplayName("Año Vigencia Final")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manzana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunRut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentajeDerecho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fojas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AñoInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AñoVigenciaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AñoVigenciaFinal)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
