@model UAndes.ICC5103._202301.Models.Escritura

@{
    ViewBag.Title = "Create";
}

<link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator.min.css" rel="stylesheet">
<h2>CREACIÓN NUEVA ESCRITURA</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="FormCreateEscritura">
        <h4 style="background: #2a2a2b; color: white; padding: 10px 20px;">ENAJENACIÓN</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Código Naturaleza de la Escritura ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CNE, new SelectList(
                    new List<SelectListItem>
                    {
                        new SelectListItem { Text = "Compraventa", Value= "compraventa"},
                        new SelectListItem { Text = "Inscripciones de Herencia", Value= "inscripciones"},
                        new SelectListItem { Text = "Otros", Value= "otros"},
                        new SelectListItem { Text = "Transferencia de Dominio", Value= "transferencia"},
                        new SelectListItem { Text = "Bienes Nacionales", Value= "bienes"},
                        new SelectListItem { Text = "Modificaciones de Sociedad", Value= "sociedad"},
                        new SelectListItem { Text = "Regularizacion de Patrimonios", Value= "regularizacion"},
                    }, "Value", "Text"), "Seleccione Codigo Naturaleza Escritura",
                    new { @class = "form-control", id = "cne-dropdown" })
                @Html.ValidationMessageFor(model => model.CNE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Comuna", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="Comuna">
                    <option value="" selected disabled>Seleccione una comuna</option>
                    <option value="ARICA">ARICA</option>
                    <option value="IQUIQUE">IQUIQUE</option>
                    <option value="HUARA">HUARA</option>
                    <option value="PICA">PICA</option>
                    <option value="POZO ALMONTE">POZO ALMONTE</option>
                    <option value="TOCOPILLA">TOCOPILLA</option>
                    <option value="ANTOFAGASTA">ANTOFAGASTA</option>
                    <option value="MEJILLONES">MEJILLONES</option>
                    <option value="TALTAL">TALTAL</option>
                    <option value="CALAMA">CALAMA</option>
                    <option value="CHANARAL">CHANARAL</option>
                    <option value="DIEGO DE ALMAGRO">DIEGO DE ALMAGRO</option>
                    <option value="COPIAPO">COPIAPO</option>
                    <option value="CALDERA">CALDERA</option>
                    <option value="TIERRA AMARILLA">TIERRA AMARILLA</option>
                    <option value="VALLENAR">VALLENAR</option>
                    <option value="FREIRINA">FREIRINA</option>
                    <option value="HUASCO">HUASCO</option>
                    <option value="LA SERENA">LA SERENA</option>
                    <option value="LA HIGUERA">LA HIGUERA</option>
                    <option value="COQUIMBO">COQUIMBO</option>
                    <option value="ANDACOLLO">ANDACOLLO</option>
                    <option value="VICUNA">VICUNA</option>
                    <option value="PAIHUANO">PAIHUANO</option>
                    <option value="OVALLE">OVALLE</option>
                    <option value="MONTE PATRIA">MONTE PATRIA</option>
                    <option value="PUNITAQUI">PUNITAQUI</option>
                    <option value="RIO HURTADO">RIO HURTADO</option>
                    <option value="COMBARBALA">COMBARBALA</option>
                    <option value="ILLAPEL">ILLAPEL</option>
                    <option value="CANELA">CANELA</option>
                    <option value="SALAMANCA">SALAMANCA</option>
                    <option value="LOS VILOS">LOS VILOS</option>
                    <option value="VALPARAISO">VALPARAISO</option>
                    <option value="QUINTERO">QUINTERO</option>
                    <option value="PUCHUNCAVI">PUCHUNCAVI</option>
                    <option value="VINA DEL MAR">VINA DEL MAR</option>
                    <option value="QUILPUE">QUILPUE</option>
                    <option value="VILLA ALEMANA">VILLA ALEMANA</option>
                    <option value="CASABLANCA">CASABLANCA</option>
                    <option value="ISLA DE PASCUA">ISLA DE PASCUA</option>
                    <option value="SAN ANTONIO">SAN ANTONIO</option>
                    <option value="SANTO DOMINGO">SANTO DOMINGO</option>
                    <option value="ALGARROBO">ALGARROBO</option>
                    <option value="EL QUISCO">EL QUISCO</option>
                    <option value="CARTAGENA">CARTAGENA</option>
                    <option value="EL TABO">EL TABO</option>
                    <option value="QUILLOTA">QUILLOTA</option>
                    <option value="LA CRUZ">LA CRUZ</option>
                    <option value="LA CALERA">LA CALERA</option>
                    <option value="HIJUELAS">HIJUELAS</option>
                    <option value="NOGALES">NOGALES</option>
                    <option value="LIMACHE">LIMACHE</option>
                    <option value="OLMUE">OLMUE</option>
                    <option value="PETORCA">PETORCA</option>
                    <option value="CABILDO">CABILDO</option>
                    <option value="PAPUDO">PAPUDO</option>
                    <option value="ZAPALLAR">ZAPALLAR</option>
                    <option value="LA LIGUA">LA LIGUA</option>
                    <option value="SAN FELIPE">SAN FELIPE</option>
                    <option value="PUTAENDO">PUTAENDO</option>
                    <option value="PANQUEHUE">PANQUEHUE</option>
                    <option value="CATEMU">CATEMU</option>
                    <option value="SANTA MARIA">SANTA MARIA</option>
                    <option value="LLAY-LLAY">LLAY-LLAY</option>
                    <option value="LOS ANDES">LOS ANDES</option>
                    <option value="CALLE LARGA">CALLE LARGA</option>
                    <option value="RINCONADA">RINCONADA</option>
                    <option value="SAN ESTEBAN">SAN ESTEBAN</option>
                    <option value="SANTIAGO">SANTIAGO</option>
                    <option value="LAS CONDES">LAS CONDES</option>
                    <option value="PROVIDENCIA">PROVIDENCIA</option>
                    <option value="SANTIAGO OESTE">SANTIAGO OESTE</option>
                    <option value="CONCHALI">CONCHALI</option>
                    <option value="COLINA">COLINA</option>
                    <option value="RENCA">RENCA</option>
                    <option value="LAMPA">LAMPA</option>
                    <option value="QUILICURA">QUILICURA</option>
                    <option value="TIL-TIL">TIL-TIL</option>
                    <option value="QUINTA NORMAL">QUINTA NORMAL</option>
                    <option value="PUDAHUEL">PUDAHUEL</option>
                    <option value="CURACAVI">CURACAVI</option>
                    <option value="SANTIAGO SUR">SANTIAGO SUR</option>
                    <option value="PENAFLOR">PENAFLOR</option>
                    <option value="TALAGANTE">TALAGANTE</option>
                    <option value="ISLA DE MAIPO">ISLA DE MAIPO</option>
                    <option value="MELIPILLA">MELIPILLA</option>
                    <option value="EL MONTE">EL MONTE</option>
                    <option value="MARIA PINTO">MARIA PINTO</option>
                    <option value="NUNOA">NUNOA</option>
                    <option value="LA REINA">LA REINA</option>
                    <option value="LA FLORIDA">LA FLORIDA</option>
                    <option value="MAIPU">MAIPU</option>
                    <option value="SAN MIGUEL">SAN MIGUEL</option>
                    <option value="LA CISTERNA">LA CISTERNA</option>
                    <option value="LA GRANJA">LA GRANJA</option>
                    <option value="SAN BERNARDO">SAN BERNARDO</option>
                    <option value="CALERA DE TANGO">CALERA DE TANGO</option>
                    <option value="PUENTE ALTO">PUENTE ALTO</option>
                    <option value="PIRQUE">PIRQUE</option>
                    <option value="SAN JOSE DE MAIPO">SAN JOSE DE MAIPO</option>
                    <option value="BUIN">BUIN</option>
                    <option value="PAINE">PAINE</option>
                    <option value="RANCAGUA">RANCAGUA</option>
                    <option value="MACHALI">MACHALI</option>
                    <option value="GRANEROS">GRANEROS</option>
                    <option value="SAN PEDRO">SAN PEDRO</option>
                    <option value="ALHUE">ALHUE</option>
                    <option value="CODEGUA">CODEGUA</option>
                    <option value="SAN FRANCISCO DE MOSTAZAL">SAN FRANCISCO DE MOSTAZAL</option>
                    <option value="DONIHUE">DONIHUE</option>
                    <option value="COLTAUCO">COLTAUCO</option>
                    <option value="COINCO">COINCO</option>
                    <option value="PEUMO">PEUMO</option>
                    <option value="LAS CABRAS">LAS CABRAS</option>
                    <option value="SAN VICENTE">SAN VICENTE</option>
                    <option value="PICHIDEGUA">PICHIDEGUA</option>
                    <option value="REQUINOA">REQUINOA</option>
                    <option value="OLIVAR">OLIVAR</option>
                    <option value="RENGO">RENGO</option>
                    <option value="MALLOA">MALLOA</option>
                    <option value="QUINTA DE TILCOCO">QUINTA DE TILCOCO</option>
                    <option value="SAN FERNANDO">SAN FERNANDO</option>
                    <option value="CHIMBARONGO">CHIMBARONGO</option>
                    <option value="NANCAGUA">NANCAGUA</option>
                    <option value="PLACILLA">PLACILLA</option>
                    <option value="SANTA CRUZ">SANTA CRUZ</option>
                    <option value="LOLOL">LOLOL</option>
                    <option value="PALMILLA">PALMILLA</option>
                    <option value="PERALILLO">PERALILLO</option>
                    <option value="CHEPICA">CHEPICA</option>
                    <option value="PAREDONES">PAREDONES</option>
                    <option value="MARCHIGUE">MARCHIGUE</option>
                    <option value="PUMANQUE">PUMANQUE</option>
                    <option value="LITUECHE">LITUECHE</option>
                    <option value="PICHILEMU">PICHILEMU</option>
                    <option value="NAVIDAD">NAVIDAD</option>
                    <option value="LA ESTRELLA">LA ESTRELLA</option>
                    <option value="CURICO">CURICO</option>
                    <option value="ROMERAL">ROMERAL</option>
                    <option value="TENO">TENO</option>
                    <option value="RAUCO">RAUCO</option>
                    <option value="HUALANE">HUALANE</option>
                    <option value="LICANTEN">LICANTEN</option>
                    <option value="VICHUQUEN">VICHUQUEN</option>
                    <option value="MOLINA">MOLINA</option>
                    <option value="SAGRADA FAMILIA">SAGRADA FAMILIA</option>
                    <option value="RIO CLARO">RIO CLARO</option>
                    <option value="TALCA">TALCA</option>
                    <option value="SAN CLEMENTE">SAN CLEMENTE</option>
                    <option value="PELARCO">PELARCO</option>
                    <option value="PENCAHUE">PENCAHUE</option>
                    <option value="MAULE">MAULE</option>
                    <option value="CUREPTO">CUREPTO</option>
                    <option value="SAN JAVIER">SAN JAVIER</option>
                    <option value="CONSTITUCION">CONSTITUCION</option>
                    <option value="EMPEDRADO">EMPEDRADO</option>
                    <option value="LINARES">LINARES</option>
                    <option value="YERBAS BUENAS">YERBAS BUENAS</option>
                    <option value="COLBUN">COLBUN</option>
                    <option value="LONGAVI">LONGAVI</option>
                    <option value="VILLA ALEGRE">VILLA ALEGRE</option>
                    <option value="PARRAL">PARRAL</option>
                    <option value="RETIRO">RETIRO</option>
                    <option value="CAUQUENES">CAUQUENES</option>
                    <option value="CHANCO">CHANCO</option>
                    <option value="CHILLAN">CHILLAN</option>
                    <option value="PINTO">PINTO</option>
                    <option value="COIHUECO">COIHUECO</option>
                    <option value="PORTEZUELO">PORTEZUELO</option>
                    <option value="QUIRIHUE">QUIRIHUE</option>
                    <option value="TREHUACO">TREHUACO</option>
                    <option value="NINHUE">NINHUE</option>
                    <option value="COBQUECURA">COBQUECURA</option>
                    <option value="SAN CARLOS">SAN CARLOS</option>
                    <option value="NIQUEN">NIQUEN</option>
                    <option value="SAN FABIAN">SAN FABIAN</option>
                    <option value="SAN NICOLAS">SAN NICOLAS</option>
                    <option value="BULNES">BULNES</option>
                    <option value="SAN IGNACIO">SAN IGNACIO</option>
                    <option value="QUILLON">QUILLON</option>
                    <option value="YUNGAY">YUNGAY</option>
                    <option value="PEMUCO">PEMUCO</option>
                    <option value="EL CARMEN">EL CARMEN</option>
                    <option value="COELEMU">COELEMU</option>
                    <option value="RANQUIL">RANQUIL</option>
                    <option value="CONCEPCION">CONCEPCION</option>
                    <option value="TALCAHUANO">TALCAHUANO</option>
                    <option value="TOME">TOME</option>
                    <option value="PENCO">PENCO</option>
                    <option value="HUALQUI">HUALQUI</option>
                    <option value="FLORIDA">FLORIDA</option>
                    <option value="CORONEL">CORONEL</option>
                    <option value="LOTA">LOTA</option>
                    <option value="SANTA JUANA">SANTA JUANA</option>
                    <option value="CURANILAHUE">CURANILAHUE</option>
                    <option value="ARAUCO">ARAUCO</option>
                    <option value="LEBU">LEBU</option>
                    <option value="LOS ALAMOS">LOS ALAMOS</option>
                    <option value="CANETE">CANETE</option>
                    <option value="CONTULMO">CONTULMO</option>
                    <option value="TIRUA">TIRUA</option>
                    <option value="LOS ANGELES">LOS ANGELES</option>
                    <option value="SANTA BARBARA">SANTA BARBARA</option>
                    <option value="QUILLECO">QUILLECO</option>
                    <option value="YUMBEL">YUMBEL</option>
                    <option value="CABRERO">CABRERO</option>
                    <option value="TUCAPEL">TUCAPEL</option>
                    <option value="LAJA">LAJA</option>
                    <option value="SAN ROSENDO">SAN ROSENDO</option>
                    <option value="NACIMIENTO">NACIMIENTO</option>
                    <option value="NEGRETE">NEGRETE</option>
                    <option value="MULCHEN">MULCHEN</option>
                    <option value="QUILACO">QUILACO</option>
                    <option value="ANGOL">ANGOL</option>
                    <option value="PUREN">PUREN</option>
                    <option value="LOS SAUCES">LOS SAUCES</option>
                    <option value="RENAICO">RENAICO</option>
                    <option value="COLLIPULLI">COLLIPULLI</option>
                    <option value="ERCILLA">ERCILLA</option>
                    <option value="TRAIGUEN">TRAIGUEN</option>
                    <option value="LUMACO">LUMACO</option>
                    <option value="VICTORIA">VICTORIA</option>
                    <option value="CURACAUTIN">CURACAUTIN</option>
                    <option value="LONQUIMAY">LONQUIMAY</option>
                    <option value="TEMUCO">TEMUCO</option>
                    <option value="VILCUN">VILCUN</option>
                    <option value="FREIRE">FREIRE</option>
                    <option value="CUNCO">CUNCO</option>
                    <option value="LAUTARO">LAUTARO</option>
                    <option value="GALVARINO">GALVARINO</option>
                    <option value="PERQUENCO">PERQUENCO</option>
                    <option value="NUEVA IMPERIAL">NUEVA IMPERIAL</option>
                    <option value="CARAHUE">CARAHUE</option>
                    <option value="SAAVEDRA">SAAVEDRA</option>
                    <option value="PITRUFQUEN">PITRUFQUEN</option>
                    <option value="GORBEA">GORBEA</option>
                    <option value="TOLTEN">TOLTEN</option>
                    <option value="LONCOCHE">LONCOCHE</option>
                    <option value="VILLARRICA">VILLARRICA</option>
                    <option value="PUCON">PUCON</option>
                    <option value="VALDIVIA">VALDIVIA</option>
                    <option value="CORRAL">CORRAL</option>
                    <option value="MARIQUINA">MARIQUINA</option>
                    <option value="MAFIL">MAFIL</option>
                    <option value="LOS LAGOS">LOS LAGOS</option>
                    <option value="FUTRONO">FUTRONO</option>
                    <option value="LANCO">LANCO</option>
                    <option value="PANGUIPULLI">PANGUIPULLI</option>
                    <option value="LA UNION">LA UNION</option>
                    <option value="PAILLACO">PAILLACO</option>
                    <option value="RIO BUENO">RIO BUENO</option>
                    <option value="LAGO RANCO">LAGO RANCO</option>
                    <option value="OSORNO">OSORNO</option>
                    <option value="PUYEHUE">PUYEHUE</option>
                    <option value="SAN PABLO">SAN PABLO</option>
                    <option value="PUERTO OCTAY">PUERTO OCTAY</option>
                    <option value="RIO NEGRO">RIO NEGRO</option>
                    <option value="PURRANQUE">PURRANQUE</option>
                    <option value="PUERTO MONTT">PUERTO MONTT</option>
                    <option value="COCHAMO">COCHAMO</option>
                    <option value="MAULLIN">MAULLIN</option>
                    <option value="LOS MUERMOS">LOS MUERMOS</option>
                    <option value="CALBUCO">CALBUCO</option>
                    <option value="PUERTO VARAS">PUERTO VARAS</option>
                    <option value="LLANQUIHUE">LLANQUIHUE</option>
                    <option value="FRESIA">FRESIA</option>
                    <option value="FRUTILLAR">FRUTILLAR</option>
                    <option value="CASTRO">CASTRO</option>
                    <option value="CHONCHI">CHONCHI</option>
                    <option value="QUEILEN">QUEILEN</option>
                    <option value="QUELLON">QUELLON</option>
                    <option value="PUQUELDON">PUQUELDON</option>
                    <option value="QUINCHAO">QUINCHAO</option>
                    <option value="CURACO DE VELEZ">CURACO DE VELEZ</option>
                    <option value="ANCUD">ANCUD</option>
                    <option value="QUEMCHI">QUEMCHI</option>
                    <option value="DALCAHUE">DALCAHUE</option>
                    <option value="CHAITEN">CHAITEN</option>
                    <option value="FUTALEUFU">FUTALEUFU</option>
                    <option value="PALENA">PALENA</option>
                    <option value="COYHAIQUE">COYHAIQUE</option>
                    <option value="AYSEN">AYSEN</option>
                    <option value="CISNES">CISNES</option>
                    <option value="CHILE CHICO">CHILE CHICO</option>
                    <option value="RIO IBANEZ">RIO IBANEZ</option>
                    <option value="COCHRANE">COCHRANE</option>
                    <option value="PUNTA ARENAS">PUNTA ARENAS</option>
                    <option value="NATALES">NATALES</option>
                    <option value="PORVENIR">PORVENIR</option>
                    <option value="GENERAL LAGOS">GENERAL LAGOS</option>
                    <option value="PUTRE">PUTRE</option>
                    <option value="CAMARONES">CAMARONES</option>
                    <option value="CAMINA">CAMINA</option>
                    <option value="COLCHANE">COLCHANE</option>
                    <option value="MARIA ELENA">MARIA ELENA</option>
                    <option value="SIERRA GORDA">SIERRA GORDA</option>
                    <option value="OLLAGUE">OLLAGUE</option>
                    <option value="SAN PEDRO DE ATACAMA">SAN PEDRO DE ATACAMA</option>
                    <option value="ALTO DEL CARMEN">ALTO DEL CARMEN</option>
                    <option value="ANTUCO">ANTUCO</option>
                    <option value="MELIPEUCO">MELIPEUCO</option>
                    <option value="CURARREHUE">CURARREHUE</option>
                    <option value="TEODORO SCHMIDT">TEODORO SCHMIDT</option>
                    <option value="SAN JUAN DE LA COSTA">SAN JUAN DE LA COSTA</option>
                    <option value="HUALAIHUE">HUALAIHUE</option>
                    <option value="GUAITECAS">GUAITECAS</option>
                    <option value="OHIGGINS">Ohiggins</option>
                    <option value="TORTEL">Tortel</option>
                    <option value="LAGO VERDE">Lago Verde</option>
                    <option value="TORRES DEL PAINE">Torres del Paine</option>
                    <option value="RIO VERDE">Rio Verde</option>
                    <option value="SAN GREGORIO">SAN GREGORIO</option>
                    <option value="LAGUNA BLANCA">LAGUNA BLANCA</option>
                    <option value="PRIMAVERA">PRIMAVERA</option>
                    <option value="TIMAUKEL">TIMAUKEL</option>
                    <option value="CABO DE HORNOS">CABO DE HORNOS</option>
                    <option value="PELLUHUE">PELLUHUE</option>
                    <option value="JUAN FERNANDEZ">JUAN FERNANDEZ</option>
                    <option value="PENALOLEN">PENALOLEN</option>
                    <option value="MACUL">MACUL</option>
                    <option value="CERRO NAVIA">CERRO NAVIA</option>
                    <option value="LO PRADO">LO PRADO</option>
                    <option value="SAN RAMON">SAN RAMON</option>
                    <option value="LA PINTANA">LA PINTANA</option>
                    <option value="ESTACION CENTRAL">ESTACION CENTRAL</option>
                    <option value="RECOLETA">RECOLETA</option>
                    <option value="INDEPENDENCIA">INDEPENDENCIA</option>
                    <option value="VITACURA">VITACURA</option>
                    <option value="LO BARNECHEA">LO BARNECHEA</option>
                    <option value="CERRILLOS">CERRILLOS</option>
                    <option value="HUECHURABA">HUECHURABA</option>
                    <option value="SAN JOAQUIN">SAN JOAQUIN</option>
                    <option value="PEDRO AGUIRRE CERDA">PEDRO AGUIRRE CERDA</option>
                    <option value="LO ESPEJO">LO ESPEJO</option>
                    <option value="EL BOSQUE">EL BOSQUE</option>
                    <option value="PADRE HURTADO">PADRE HURTADO</option>
                    <option value="CONCON">CONCON</option>
                    <option value="SAN RAFAEL">SAN RAFAEL</option>
                    <option value="CHILLAN VIEJO">CHILLAN VIEJO</option>
                    <option value="SAN PEDRO DE LA PAZ">SAN PEDRO DE LA PAZ</option>
                    <option value="CHIGUAYANTE">CHIGUAYANTE</option>
                    <option value="PADRE LAS CASAS">PADRE LAS CASAS</option>
                    <option value="HUALPEN">HUALPEN</option>
                    <option value="ALTO HOSPICIO">ALTO HOSPICIO</option>
                    <option value="CHOLCHOL">CHOLCHOL</option>
                    <option value="ALTO BIOBIO">ALTO BIOBIO</option>
                </select>
                @Html.ValidationMessageFor(model => model.Comuna, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Manzana", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Manzana, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                @Html.ValidationMessageFor(model => model.Manzana, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Predio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Predio, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                @Html.ValidationMessageFor(model => model.Predio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fojas", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fojas, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                @Html.ValidationMessageFor(model => model.Fojas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha Inscripción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaInscripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "MM/DD/YYYY" } })
                @Html.ValidationMessageFor(model => model.FechaInscripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Número Inscripción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroInscripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                @Html.ValidationMessageFor(model => model.NumeroInscripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3 style="color: red;"> RUT DEBE SER INGRESADO SIN PUNTOS Y CON GUIÓN</h3>
        <div id="enajenantes-div">
            <h4 style="background: #2a2a2b; color: white; padding: 10px 20px;">ENAJENANTES</h4>
            <div id="enajenantes-table"></div>
            <button type="button" id="reactivity-add" onclick="addTableRowEnajenantes()">Añadir nueva fila</button>
        </div>
        <h4 style="background: #2a2a2b; color: white; padding: 10px 20px;">ADQUIRIENTES</h4>
        <div id="adquirientes-table"></div>
        <button type="button" id="reactivity-add" onclick="addTableRowAdquirientes()">Añadir nueva fila</button>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" id="receivedEnajenantes" name="receivedEnajenantes">
                <input type="hidden" id="receivedAdquirientes" name="receivedAdquirientes">
                <button type="submit" value="Crear" class="btn btn-default" onclick="submitForm()">Subir</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

<script>
    const cneDropdown = document.getElementById("cne-dropdown");
    const divToHide = document.getElementById("enajenantes-div");
    cneDropdown.addEventListener("change", function () {
        if (cneDropdown.value === "regularizacion") {
            divToHide.style.display = "none";
        } else {
            divToHide.style.display = "block";
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>
<script>
    let enajenantesJson;
    let adquirientesJson;

    function addTableRowEnajenantes() {
        var table = Tabulator.findTable("#enajenantes-table")[0]
        var rows = table.getRows();
        table.addRow({ item: rows.length + 1 });
    }

    function addTableRowAdquirientes() {
        var table = Tabulator.findTable("#adquirientes-table")[0]
        var rows = table.getRows();
        table.addRow({ item: rows.length + 1 });
    }

    $(document).ready(function () {
        const tableDataEnajenantes = [
            {
                item: 1,
                rut: "",
                porcentajeDerecho: 0,
                porcentajeDerechoNoAcreditado: false
            },
        ];

        const tableDataAdquirientes = [
            {
                item: 1,
                rut: "",
                porcentajeDerecho: 0,
                porcentajeDerechoNoAcreditado: false,
            },
        ];

        var tableEnajenantes = new Tabulator("#enajenantes-table", {
            height: "311px",
            layout: "fitColumns",
            resizableColumnFit: true,
            responsiveLayout: "hide",
            reactiveData: true, //turn on data reactivity
            data: tableDataEnajenantes, //load data into table
            columns: [
                {
                    title: "RUT",
                    field: "rut",
                    editor: true,
                    editorParams: {
                        elementAttributes: {
                            maxlength: "10", //set the maximum character length of the input element to 10 characters
                        },
                        selectContents: true,
                        verticalNavigation: "table", //up and down arrow keys navigate away from cell without changing value
                    },
                },
                {
                    title: "% de derecho",
                    field: "porcentajeDerecho",
                    sorter: "number",
                    editor: true,
                    width: 150,
                    validator: ["required", "min:0", "max:100"],
                    editorParams: {
                        min: 0,
                        max: 100,
                        step: 10,
                        elementAttributes: {
                            maxlength: "10", //set the maximum character length of the input element to 10 characters
                        },
                        mask: "999",
                        selectContents: true,
                        verticalNavigation: "table", //up and down arrow keys navigate away from cell without changing value
                    },
                },
                {
                    title: "% de derecho no acreditado",
                    field: "porcentajeDerechoNoAcreditado",
                    hozAlign: "center",
                    editor: true,
                    formatter: "tickCross",
                    width: 230,
                },
            ],
        });

        tableEnajenantes.on("dataChanged", function (row) {
            var tableEnajenantes = Tabulator.findTable("#enajenantes-table")[0]
            var array = tableEnajenantes.getData();
            var enajenanteJsonHiddenInput = document.querySelector("#receivedEnajenantes");
            enajenantesJson = JSON.stringify(array);
            enajenanteJsonHiddenInput.value = enajenantesJson;
        }
        );

        var tableAdquirientes = new Tabulator("#adquirientes-table", {
            height: "311px",
            layout: "fitColumns",
            resizableColumnFit: true,
            responsiveLayout: "hide",
            reactiveData: true,
            data: tableDataAdquirientes,
            columns: [
                {
                    title: "RUT",
                    field: "rut",
                    editor: true,
                    editorParams: {
                        elementAttributes: {
                            maxlength: "10",
                        },
                        selectContents: true,
                        verticalNavigation: "table",
                    },
                },
                {
                    title: "% de derecho",
                    field: "porcentajeDerecho",
                    sorter: "number",
                    editor: true,
                    width: 150,
                    validator: ["required", "min:0", "max:100"],
                    editorParams: {
                        min: 0,
                        max: 100,
                        step: 10,
                        elementAttributes: {
                            maxlength: "10",
                        },
                        mask: "999",
                        selectContents: true,
                        verticalNavigation: "table",
                    },
                },
                {
                    title: "% de derecho no acreditado",
                    field: "porcentajeDerechoNoAcreditado",
                    hozAlign: "center",
                    editor: true,
                    formatter: "tickCross",
                    width: 230,
                },
            ],
        });

        tableAdquirientes.on("dataChanged", function (row) {
            var tableAdquirientes = Tabulator.findTable("#adquirientes-table")[0];
            var array = tableAdquirientes.getData();
            adquirientesJson = JSON.stringify(array);
            var adquirientesJsonHiddenInput = document.querySelector("#receivedAdquirientes");
            adquirientesJsonHiddenInput.value = adquirientesJson;
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
