@model UAndes.ICC5103._202301.Models.Escritura

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Escritura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CNE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manzana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manzana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fojas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fojas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroInscripcion)
        </dd>
    </dl>

    <h2>Enajenantes Actuales:</h2>
    <table class="table">
        <tr>
            <th>Run/Rut</th>
            <th>% Derecho</th>
            <th>Derecho no acreditado</th>
        </tr>
        @foreach (var enajenanteActual in ViewBag.EnajenantesActuales)
        {
            <tr>
                <td>@enajenanteActual.RunRut</td>
                <td>@enajenanteActual.PorcentajeDerecho</td>
                <td>@enajenanteActual.DerechoNoAcreditado</td>
            </tr>
        }
    </table>

    <h2>Adquirientes Actuales:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Run/Rut</th>
                <th>% Derecho</th>
                <th>Derecho no acreditado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var adquirienteActual in ViewBag.adquirientesActuales)
            {
                <tr>
                    <td>@adquirienteActual.RunRut</td>
                    <td>@adquirienteActual.PorcentajeDerecho</td>
                    <td>@adquirienteActual.DerechoNoAcreditado</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
