@model IEnumerable<UAndes.ICC5103._202301.Models.Escritura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CNE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manzana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fojas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroInscripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CNE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manzana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fojas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroInscripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NumeroAtencion }) |
            @Html.ActionLink("Details", "Details", new { id=item.NumeroAtencion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NumeroAtencion })
        </td>
    </tr>
}

</table>
