@model IEnumerable<UAndes.ICC5103._202301.Models.Escritura>

@{
    ViewBag.Title = "Index";
}

<h2>Página de inicio</h2>

<p>
    @Html.ActionLink("Crear nueva escritura", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código Naturaleza Escritura")
        </th>
        <th>
            @Html.DisplayName("Comuna")
        </th>
        <th>
            @Html.DisplayName("Manzana")
        </th>
        <th>
            @Html.DisplayName("Predio")
        </th>
        <th>
            @Html.DisplayName("Fojas")
        </th>
        <th>
            @Html.DisplayName("Fecha Inscripción")
        </th>
        <th>
            @Html.DisplayName("Numero Inscripción")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CNE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manzana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fojas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroInscripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.NumeroAtencion }) |
            @Html.ActionLink("Ver detalles", "Details", new { id = item.NumeroAtencion }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.NumeroAtencion })
        </td>
    </tr>
}

</table>
